/* label color */
.input-field label {
  color: #fff;
  font-weight: bold;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #90caf9  ;
}
.input-field input{
  color: snow;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #90caf9  ;
  box-shadow: 0 1px 0 0 #90caf9  0;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #90caf9  ;
  box-shadow: 0 1px 0 0 #90caf9  ;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #90caf9  ;
  box-shadow: 0 1px 0 0 #90caf9  ;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #90caf9  ;
}
/*Hide Arrow From Input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#edit-btn{
background-color: #00e676 ;
}
#delete-btn{
  background-color: #ff1744 ;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input.ng-invalid,.ng-pristine{
  border-bottom-color: #df3030 !important;
  box-shadow: #e91e1e !important;
}

.card {
box-shadow: none;
}
